* {
  /*font-family: Neato Serif Italic;*/
}

.name {
  height: 300px;
  position: absolute;
  margin-left: 20px;
}
/*.hola {
  height: 300px;
  position: absolute;
}
.p1 {
  background: linear-gradient(#000000, #e5008d, #ff070b);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 100px;
  width: 200px;
  display: inline-block;
  margin-right: 20px;
}

.p2 {
  background: linear-gradient(#30e8bf, #ff8235);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 100px;
  width: 200px;
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
}

.p3 {
  background: linear-gradient(#ff512f, #dd2476);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 100px;
  width: 200px;
  display: inline-block;
  margin-right: 20px;
}

.p4 {
  background: linear-gradient(#c04848, #480048);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 100px;
  width: 200px;
  display: inline-block;
  margin-right: 20px;
}*/
span {
  background-image: -webkit-linear-gradient(#000000, #e5008d, #ff070b);  /* Chrome 10-25, Safari 5.1-6 */
  /*#000000, #e5008d, #ff070b
    #ee0979, #ff6a00
    #ff512f, #dd2476
    #c04848, #480048
  */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 200px;
  font-family: Neato Serif Regular;
  font-weight: 100;
  position: relative;
}

span::after {
  content: attr(data-text);
  left: 7px;
  position: absolute;
  text-shadow: 1px 1px black;
  top: -13px;
  z-index: -1;
}

@font-face {
  font-family: "Neato Serif Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/neato_serif_fonts/NeatoSerif-Regular.woff");
}

@font-face {
  font-family: "Neato Serif Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/neato_serif_fonts/NeatoSerif-Italic.woff");
}
/*J*/
span:nth-of-type(1) {
  position: relative;
  font-size: 280px;
}

/*E*/
span:nth-of-type(2) {
  position: relative;
  bottom: 310px;
  left: 130px;
}

/*S*/
span:nth-of-type(3) {
  position: relative;
  bottom: 540px;
  left: 220px;
}

/*S*/
span:nth-of-type(4) {
  position: relative;
  bottom: 800px;
  left: 60px;
}

/*I*/
span:nth-of-type(5) {
  position: relative;
  bottom: 1040px;
  left: 150px;
}

#particle-canvas {
  height: 100vh;
  overflow: hidden;
}

.back {
  z-index: 2;
  background: rgba(0, 0, 0, 0.9);
}

.back::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background-image: url('../assets/images/111.png');
  background-size: cover;
}

.row {
  margin-bottom: 0;
}

.description {
  position: absolute;
  color: white;
  text-align: center;
  bottom:10px;
  margin-right: 30px;
  line-height: 25px;
  font-family: 'Suranna', serif;
  font-weight: lighter;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.nav-style {
  position: absolute;
  transform-origin: top left;
    transform: rotate(-90deg) translate3d(-100%,0,0);
  width: 635px;
}
